@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Yantramanav:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.two{
    width: 100%;
    height: 100vh;
}
.hero{
    background: url('../../images/pattern.svg');
    background-size: 100%;
    height: 100vh;
    width: 100%;
    
    .wrapper-hero{
        // overflow: hidden;
        background: url('../../images/blob.svg') no-repeat;
        padding: 0 10rem 0 10rem;
        background-position: -150% 50%;
        background-size: 140%;
    }
    main{
        display: flex;
        article{
            // width: 90%;
            max-width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0rem 0rem 0rem 0rem;
            font-family: 'Poppins',
            sans-serif;
            .pre{
                padding-bottom: 1rem;
                font-size: 1.2rem;
            }
            h1{
                padding-bottom: 2rem;
                font-size: 2.8rem;
            }
            .post{
                width: 85%;
                font-size: 1.1rem;
                margin-bottom: 7.5rem;
                text-align: justify;
            }
            .cta{
                display: flex;
                gap : 2rem;
                a{
                    
                    // display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    div{
                        display: grid;
                        place-items: center;
                        // background-color: #e2ab44;
                        height: 48px;
                        width: 10rem;
                        border-radius: 15px;
                        &.primary{
                           background-color: #FF0066;
                        //    background-color: #e2ab44;
                           &:hover{
                               border: 1px solid rgb(243, 168, 168);
                               box-shadow: 1px 1px 25px 0px #FF0066d2;
                               transition: 0.5s;
                           }
                        }
                        &.secondary{
                            border: 1px solid #FF0066;
                            color: #FF0066;
                            &:hover {
                                box-shadow: 1px 1px 25px 0px #FF0066d2;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

        }
        height: calc(100vh - 12vh);
        aside{
            display: grid;
            place-items: center;
            // height : 100vh;
            img{
                transform: translateX(50%);
                
                // border: 1px solid #FF0066;
            }
        }
    }

}
.w1{
    width: 100%;
    background: url('../../images/wave1.svg');
    background-size: cover;
    height: 250px;
    transform: translateY(-100%);
}
.services {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FF0066;
    height: 100vh;
    padding: 0 2rem 0 4rem;

    article{
        height: 100vh;
        padding: 4rem 2rem 4rem 4rem;
        h3{
            font-size:1.8rem;
            color : white;
            font-family: 'Yantramanav',
            sans-serif;
            font-weight : 400;
        }
        .cards{
            width : 100%;
            display: flex;
            justify-content: space-between;
            gap : 2.2rem;
            margin-top: 2rem;
            .card{
                min-width: 250px;
                min-height: 300px;
                background-color: #fff;
                box-shadow: 5px 5px 10px #ffffff55;
                border-radius: 15px;
            }
        }
        
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-start;
        h1{
        color: white;
        font-size : 2.6rem;

        }
    }
    .sideimage{
        padding: 2rem;

        // transform: translateX(5%);
    }
}
nav{
    
    height: 12vh;
    // background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        
        li{
            height: auto;
            // background-color: purple;
            display: flex;
            width: max-content;
            align-items: center;
            justify-content: center;            
            list-style-type: none;
            min-width: max-content;
            padding: 1rem 5rem 1rem  5rem ;
            font-family: 'Quicksand',
            sans-serif;
            cursor: pointer;
            position: relative;
            font-size: 1.2rem;
            .active::after{
            width: 100px;
            border-bottom: 3px solid transparent;
            height: 2px;
            background-color: #000;
            position: relative;
        }
        .active{
            border-bottom: 3px solid #FF0066;
            color: rgb(71, 48, 4);

        }
            font-weight: 400;
            &:nth-child(4){
                padding-right: 0;
            }
            &:hover{
                // text-transform: uppercase;
                font-size: 1.2rem;
                transition: 0.5s;
                border-bottom: 3px solid #ff0040;
            }
        }
        .active::after {
            width: 100px;
            height: 2px;
            background-color: #000;
            position: relative;
        }

        .active {
            border-bottom: 3px solid #FF0066;
            color: rgb(71, 48, 4);

        }
        input{
            height: 2.5rem;
            width: 15rem;
        }
    }
    p{
        font-size: 1.8rem;
        font-family: 'Quicksand',
        sans-serif;
    }
}

h1{
    font-family: 'Yantramanav',
    sans-serif;
    font-size: 2.1rem;
    color: #313131;
}