@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Yantramanav:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.two{
    width: 100%;
    height: 100vh;
}
.hero{
    background: url('../../images/pattern.svg');
    background-size: 100%;
    min-height: 100vh;
    width: 100%;
    
    .wrapper-hero{
        // overflow: hidden;
        background: url('../../images/blob.svg') no-repeat;
        @media only screen and (max-width: 700px) {
            background: none;
        }
        padding: 0 1.5rem;
        background-position: -150% 50%;
        background-size: 140%;
        @media only screen and (min-width:1000px) {
            padding: 0rem 5rem;
        }
        @media only screen and (min-width:1600px) {
            padding: 0rem 10rem;
        }
    }
    main{
        display: flex;
        padding: 0 1.5rem;
        article{
            // width: 90%;
            // max-width: 50vw;
            @media only screen and (max-width: 786px) {
                max-width: 80vw;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0rem 0rem 0rem 0rem;
            font-family: 'Poppins',
            sans-serif;
            .pre{
                padding-bottom: 1rem;
                font-size: 1.2rem;
            }
            h1{
                padding-bottom: 2rem;
                font-size: 2.8rem;
                @media only screen and (max-width: 1200px) {
                    font-size: 2rem;
                }
            }
            .post{
                width: 85%;
                font-size: .9rem;
                margin-bottom: 2rem;
                @media only screen and (min-width: 800px) {
                    margin-bottom: 4rem;
                    font-size: 1.1rem;
                }
                @media only screen and (min-width: 1000px) {
                    margin-bottom: 7.4rem;
                }
                text-align: justify;
            }
            .cta{
                display: flex;
                gap : 2rem;
                width: 100%;
                @media only screen and (max-width: 500px) {
                    flex-direction: column;
                    gap : 0.5rem;
                }
                
                a{
                    
                    // display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    div{
                        display: grid;
                        place-items: center;
                        // background-color: #e2ab44;
                        height: 48px;
                        width: 10rem;
                        @media only screen and (max-width: 500px) {
                            width: 100%;
                        }
                        border-radius: 15px;
                        &.primary{
                           background-color: #FF0066;
                        //    background-color: #e2ab44;
                           &:hover{
                               border: 1px solid rgb(243, 168, 168);
                               box-shadow: 1px 1px 25px 0px #FF0066d2;
                               transition: 0.5s;
                           }
                        }
                        &.secondary{
                            border: 1px solid #FF0066;
                            color: #FF0066;
                            &:hover {
                                box-shadow: 1px 1px 25px 0px #FF0066d2;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

        }
        height: calc(100vh - 12vh);
        aside{

            display: grid;
            place-items: center;
            // height : 100vh;
            img{
                transform: translateX(50%);
                
                // border: 1px solid #FF0066;
            }
            @media only screen and (max-width: 786px) {
                display: none;
            }
        }
    }

}
.w1{
    width: 100%;
    background: url('../../images/wave1.svg');
    background-size: cover;
    height: 250px;
    transform: translateY(-100%);
}
.services {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #FF0066;
    height: 100vh;
    padding: 0 2rem 0 2rem;
    @media screen and (min-width : 1200px) {
        padding: 0 2rem 0 2rem;
    }
    .service-wrap{
            display: flex;
        align-items: center;
    }
    article{
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        padding: 2rem 1rem;
        @media screen and (min-width : 1200px) {
            padding: 2rem 1rem;
        }
        h3{
            font-size:1.8rem;
            @media only screen and (max-width: 900px) {
                font-size : 1.5rem;
            }
            color : white;
            font-family: 'Yantramanav',
            sans-serif;
            font-weight : 400;
        }
        .points{
            margin-top: 2rem;
            p{
                display: flex;
                align-items: center;
                font-weight: 300;
                font-family: 'Yantramanav',
            sans-serif;
            }
            span{
                font-size: 1.3rem;
                @media only screen and (max-width: 900px) {
                    font-size: 1.1rem;
                }
                margin-right: 1rem;
            }
            color : #fff;
            font-size: 1.3rem;
            @media only screen and (max-width: 900px) {
                font-size: 1.1rem;
            }
                }
        .cards{
            width : 100%;
            display: flex;
            justify-content: space-between;
            gap : 2.2rem;
            @media only screen and (max-width: 900px) {
                gap : 0.8rem;
            }
            margin-top: 3rem;
            @media screen and (max-width : 900px) {
                flex-direction: column;
            }

            @media screen and (max-width : 800px) {
                display: none;
            }
            .card{
                min-width: 100px;
                @media screen and (min-width : 1200px) {
                    min-width: 250px;
                }
                min-height: 300px;
                background-color: #fff;
                box-shadow: 5px 5px 10px #e77a7a55;
                border-radius: 15px;
                display : flex;
                flex-direction : column;
                @media screen and (max-width : 900px) {
                    flex-direction: row;
                    min-height: 80px;
                }
                align-items: center;
                justify-content: space-around;
                &:hover{
                    box-shadow: 5px 5px 30px #c44646e1;
                }
                img{
                    width: 100px;
                    height: 100px;
                    @media only screen and (max-width: 900px) {
                        width: 60px;
                         height: 60px;
                         margin-left: 2rem;
                         margin-right: 2rem;
                    }
                }

                .about-card{
                    @media only screen and (max-width: 900px) {
                        flex: 7;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0.5rem;
                    @media screen and (min-width : 1200px) {
                        padding: 1rem;
                    }
                    align-items: center;
                    h2{
                        font-size: 1.2rem;
                        @media screen and (min-width : 1200px) {
                            font-size: 1.6rem;
                        }
                        font-family: 'Yantramanav',
                        sans-serif;
                        color: #313131;
                        font-weight: 400;
                        padding-bottom: .8rem;
                        @media screen and (max-width : 900px) {
                            padding: 1rem;
                        }
                    }
                    p{
                        font-family: 'Yantramanav',
                        sans-serif;
                        color: #5c5c5c;
                        font-weight: 300;
                        text-align: center;
                    }
                }
            }
        }
        
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-start;
        h1{
        color: white;
        font-size : 2.6rem;
            @media only screen and (max-width: 900px) {
                font-size : 2rem;
            }
        }
    }
    .sideimage{
        padding: 2rem 1rem;
        min-width: 22vw;
        // transform: translateX(5%);
        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }
}
nav{
    a{
        text-decoration: none;
        color: #000;
    }
    height: 12vh;
    // background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        
        li{
            height: auto;
            // background-color: purple;
            display: flex;
            width: max-content;
            align-items: center;
            justify-content: center;            
            list-style-type: none;
            min-width: max-content;
            padding: 1rem 2rem;
            font-family: 'Quicksand',
            sans-serif;
            cursor: pointer;
            position: relative;
            font-size: 1.2rem;
            @media only screen and (max-width:900px) {
                font-size: 1rem;
                padding: 1rem .8rem;
            }
            @media only screen and (max-width:500px) {
                font-size: 0.9rem;
                padding: 1rem .5rem;
            }
            .active::after{
            width: 100px;
            border-bottom: 3px solid transparent;
            height: 2px;
            background-color: #000;
            position: relative;
            
        }
        .active{
            border-bottom: 3px solid #FF0066;
            color: rgb(71, 48, 4);

        }
            font-weight: 400;
            &:nth-child(4){
                padding-right: 0;
            }
            &:hover{
                // text-transform: uppercase;
                // font-size: 1.2rem;
                @media only screen and (min-width:900px) {
                    transition: 0.5s;
                    border-bottom: 3px solid #ff0040;
                }
                
            }
        }
        .active::after {
            width: 100px;
            height: 2px;
            background-color: #000;
            position: relative;
        }

        .active {
            border-bottom: 3px solid #FF0066;
            color: rgb(71, 48, 4);

        }
        input{
            height: 2.5rem;
            width: 15rem;
        }
    }
    p{
        font-size: 1.8rem;
        font-family: 'Quicksand',
        sans-serif;
        @media only screen and (max-width:900px) {
            font-size: 1.2rem;
        }
        @media only screen and (max-width:500px) {
            font-size: 1rem;
        }
    }
}
.wave3{
    width: 100%;
    background: url('../../images/wave3.svg');
    background-size: cover;
    height: 250px;
    position: relative;
    top : -120px;
    //  transform: translateY(50%);
    z-index: -1;
}
h1{
    font-family: 'Yantramanav',
    sans-serif;
    font-size: 2.1rem;
    color: #313131;
}

.top{
    // background-color: green;
    padding: 0 10rem 0 10rem;
    @media screen and (max-width : 900px) {
        padding: 0 5rem;
    }
    @media screen and (max-width : 600px) {
        padding: 0 3rem;
    }
    h2{
        // font-family: 'Yantramanav',
        // sans-serif;
        font-family: 'Poppins',
        sans-serif;
        font-size: 2.4rem;
        @media screen and (max-width : 900px) {
            font-size: 1.8rem;
        }
        text-align: center;
        font-weight: 400;
        position: relative;
        top: -80px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        @media only screen and (min-width:1000px) {
            grid-template-columns: repeat(2,1fr);
        }
        @media only screen and (min-width:1300px) {
            grid-template-columns: repeat(3,1fr);
        }
        @media only screen and (min-width:2000px) {
            grid-template-columns: repeat(4,1fr);
        }
        gap: 2rem;
    }
    .card{
        border-radius: 15px;
        min-width: 300px;
        @media only screen and (max-width:600px) {
            min-width: 100px;
        }
        cursor: pointer;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        background-color: #fff;
        box-shadow: 5px 5px 30px #82828212;
        padding: 1rem;
        .desc-wrapper{
            width: 100%;
        }
        .row{
            
            width: 100%;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            min-width: 250px;
        }
        .title-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2rem;
            width: 100%;
            flex : 1;
            img{

                border-radius: 0;
                width: 40px;
                object-fit: contain;
                
            }
        }
        h3{
            font-family: 'Quicksand',
            sans-serif;
            font-size: 1.4rem;
            padding: 0.5rem;
            text-align: center;
            width: 100%;
            
        }
        p{
            font-family: 'Quicksand',
            sans-serif;
            font-size: 1rem;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }
        p.subtext{
            min-height: 60px;
        }
        .nutrition{
            padding: 0.2rem;
            text-align: left;
        }
        .col>p{
            text-align: left;
            padding: 0.2rem;
        }
        .label{
            font-size: 0.8rem;
            padding: 0rem;
            color: rgb(56, 56, 56);
        }
        .action{
            
            font-size: 1.2rem;
        }
        .price{
            color: #FF0066;
        }
        &:hover{
            box-shadow: 10px 10px 10px #ff006612;
        }
        .img-wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            // border: 1px solid green;
            
        }
        img{
            width: 70%;
            max-height: 220px;
            @media only screen and (min-width:2000px) {
                max-height: 300px;
            }
            @media only screen and (min-width:2000px) {
                max-height: 400px;
            }
            aspect-ratio: 440/300;
            border-radius: 15px;
            // border: 1px solid red;
            margin: 0 auto;
        }
    }
    .add-to-cart{
        font-family: 'Yantramanav',
            sans-serif;
        border: 1px solid #FF0066;
        color: #ff0040;
        padding: 0.3rem 1rem;
        margin-top: 2rem;
        flex-grow: 100%;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 600;
        border-radius: 20px;
        &:hover{
            border: 1px solid rgb(243, 168, 168);
            box-shadow: 1px 1px 25px 0px #ff006656;
            transition: 0.5s;
        }
       
    }
}