.testimonial-wrapper{
    padding: 5rem 7rem;
    @media only screen and (min-width:1500px) {
        padding: 7rem 10rem;
    }
    padding-bottom: 3rem;
    // background-color: red;
    text-align: center;
    font-family: 'Quicksand',
            sans-serif;
    h3{
        color: #ff0066;
        font-size: 1.4rem;
    }
    h4{
        padding: 1rem;
        font-size: 2rem;
    }
    .hr{
        margin: 0 auto;
        color: #ff0066;
        background-color: #e94788;
        height: 3px;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 4rem;
    }
    .card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media only screen and (max-width:1300px) {
            display: flex;
            flex-direction: column;
        }
        gap: 1rem;
        // border: 1px solid #ff006655;
        // border-radius: 45px;
    }
}

.testi-card{
    border-radius: 45px;
    cursor: pointer;
    // width: 50%;
    display: flex;
    // border: 1px solid #e94788;
    justify-content: space-between;
    padding: 2rem 4rem;
    .image-wrapper{
        width: 250px;
        margin-right: 1.5rem;
    }
    img{
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        border-bottom-left-radius: 45px;
        
    }

    .details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;
        .name{
            font-size: 1.2rem;
            padding-bottom: 0.1rem;
        }
        .date{
            font-size: 0.8rem;
            padding-bottom: 0.5rem;
        }
        .review{
            font-size: 0.9rem;
        }
    }
    &:hover{
        background: #ff006605;
        transition: 0.3s;
        
    }
}

.footer{
    padding: 5rem 10rem 0rem 10rem;
    background-color: #313131;
    // background-color: #e94788;
    .grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media only screen and (max-width:1300px) {
            grid-template-columns: 1fr 1fr ;
            grid-column-gap: 3rem;
            
        }
        
        font-family: 'Quicksand',
            sans-serif;
            color: #e0dfdf;
        .text{
            padding-right: 3rem;
            // text-align: justify;
            h2{
                font-family: 'poppins',
                sans-serif;
                padding-bottom: 1rem;
                color: #fff;
            }
            p{
                font-size: 1rem;
            }

        }
        .contact,.useful-links,.map-wrapper{
            h3{
               font-family: 'poppins',
                sans-serif;
                padding-bottom: 1rem; 
                color: #fff;
            }
            ul li{
                list-style-type: none;
                padding-bottom: 0.25rem;
                vertical-align: middle;
                span{
                    margin-right: 1rem;
                }
                a{
                    color: #e0dfdf;
                    text-decoration: none;
                }
            }
        }
        .contact{
            padding-left: 3rem;
            @media only screen and (max-width:1300px) {
                padding-left: 0rem;
            }
            // li{
            //     @media only screen and (max-width:1300px) {
            //         display: flex;
            //         flex-direction: column;
            //     }
            // }
            
        }

    }
    .map{
       
        max-width: 300px;
        height: 130px;
        @media only screen and (min-width:2000px) {
            max-width: 500px;
        }
        // background-color: #ff5;
        overflow: hidden;
        border: 1px solid #ffffff66;
    }
    .cop{
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
        font-family: 'Quicksand',
            sans-serif;
            color: #e0dfdf;
    }
}