//Poppins
//Quicksand
//Yantramanav

.hero-menu{
    padding: 0rem 10rem;
    width: 100%;
    .search{
        font-family: 'Yantramanav',
            sans-serif;
        padding: 1rem 0rem;
       
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       .input-container{
           height: 40px;
           width: 60%;
           flex: 6;
           position: relative;
           svg{
               position: absolute;
               top : 13px;
               left : 15px;
               color: rgba(50, 50, 50, 0.419);
               font-size: 0.8rem;
               
           }
           input{
            font-family: 'Yantramanav',
            sans-serif;
               padding-left: 40px;
               border: 1px solid rgba(85, 85, 85, 0.378);
                height: 40px;
                border-radius:5px 0px 0px 5px;
                font-size: 1.1rem;
                width: 100%;
           }
       }
       button{
        font-family: 'Poppins',
        sans-serif;
           flex: 1;
           height: 40px;
           padding: 0;
           box-sizing: border-box;
           font-size: 1.1rem;
           background-color: #FF0066;
           border-radius: 0 5px 5px 0;
           color: white;
           border: 1px solid rgba(85, 85, 85, 0.378);
           cursor: pointer;
           &:hover{
               background-color: #FF0066d2;
           }
       }
      
    }
    main{
        display: flex;
        .sidebar{
            width: 20vw;
            min-width: 200px;
            //background-color: red;
            font-family: 'Poppins',sans-serif;
            border-top: 1px solid #3535350d;
            h4{
                color: #666;
            }
            .sidebar-heading{
                display: flex;
                justify-content: space-between;
                padding: 1rem 2rem 1rem 1rem;
                border-bottom: 1px solid #3535350d;
            }
            .category-wrapper{
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem 1rem 1rem;
                border-bottom: 1px solid #3535350d;
                input[type="checkbox"]{
                    margin-right: 1rem;
                    font-size: 2rem;
                }
                label{
                    cursor: pointer;
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */
                    margin-bottom: .5rem;
                }
                   
            }
            .slider-wrapper{
                position: relative;
                padding: 1rem 1rem 1rem 1rem;
                
                overflow: hidden;
                width: 100%;
                input[type='range']{
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    background-color: transparent;
                    pointer-events: none;
                }
                .track{
                    width: 100%;
                    height: 5px;
                    background-color: #b9b9b9;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    border-radius: 5px;


                }
                input[type="range"]::-webkit-slider-runnable-track{
                    -webkit-appearance: none;
                    height: 5px;
                }
                input[type="range"]::-moz-range-track{
                    -moz-appearance: none;
                    height: 5px;
                }
                input[type="range"]::-ms-track{
                    appearance: none;
                    height: 5px;
                }
                input[type="range"]::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    height: 1.7em;
                    width: 1.7em;
                    background-color: #FF0066;
                    // background-color: #3264fe;
                    cursor: pointer;
                    margin-top: -9px;
                    pointer-events: auto;
                    border-radius: 50%;
                }
                input[type="range"]::-moz-range-thumb{
                    -webkit-appearance: none;
                    height: 1.7em;
                    width: 1.7em;
                    cursor: pointer;
                    border-radius: 50%;
                    // background-color: #3264fe;
                    background-color: #FF0066;
                    pointer-events: auto;
                }
                input[type="range"]::-ms-thumb{
                    appearance: none;
                    height: 1.7em;
                    width: 1.7em;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: #FF0066;
                    // background-color: #3264fe;
                    pointer-events: auto;
                }
                input[type="range"]:active::-webkit-slider-thumb{
                    background-color: #ffffff;
                    // border: 3px solid #3264fe;
                    border: 3px solid #FF0066;
                }

            }
            .slider-text{
                text-align: center;
                padding: 0.8rem;
                font-weight: 400;
                color: #3a3a3a;
                font-size: 1.1rem;
            }
        }
        .show{
            padding: 1rem;
            width: 80%;
            border-left: 1px solid #3535350d;
            border-top: 1px solid #3535350d;
        }
        .rangepadding{
            height: 0.5rem;
            width: 100%;
            border-bottom: 1px solid #3535350d;
        }
    }
}

